<div ng-controller="DetailsController">
    <table class="table table-bordered table-hover">
      
        <tr>
            <th>Id</th>
            <th>{{products.Id}}</th>
        </tr>

        <tr>
            <th>Adı</th>
            <th>{{products.Name}}</th>
        </tr>

        <tr>
            <th>Fiyatı</th>
            <th>{{products.Price}}</th>
        </tr>

        <tr>
            <th>Adet</th>
            <th>{{products.Count}}</th>
        </tr>

    </table>
</div>

<a href="/Home/Index" class="btn btn-primary">Geri</a>